.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //min-height: 100px;
  //font-family: 'Averia Serif Libre', cursive;
  color: black;
  padding: 0 20px;
  background: #FFFFFF;
}
