<div class="main">
  <div class="box">
        <div class="bar services">
          <a routerLink="quiz-details">Services</a>
        </div>
        <div class="bar testimonials">
          <a routerLink="quiz-details">Testimonials</a>
        </div>
        <div class="bar homepage">
          <a routerLink="quiz-details">Homepage Slider</a>
        </div>
  </div>

        <button>Add New Image</button>
        <div class="images">
          <img src="../../../../assets/slide7.jpg" height="218" width="305"/>
          <img src="../../../../assets/slide4.jpg" height="218" width="306"/>
          <img src="../../../../assets/slide3.jpg" height="218" width="306"/>
          <img src="../../../../assets/slide2.jpg" height="218" width="305"/>
          <img src="../../../../assets/slide1.jpg" height="218" width="305"/>
        </div>
</div>
