<div class="sidebarDiv">
  <div class="logo">
    <img src="../../../../assets/UACLLogo.png" alt="">
  </div>

  <div>
    <div routerLink="/dashboard" routerLinkActive="active"><i class="fas fa-chart-line"></i>Dashboard</div>
    <div routerLink="/courses" routerLinkActive="active"><i class="fas fa-book"></i>Courses</div>
    <div routerLink="/audio-quiz" routerLinkActive="active"><i class="fas fa-microphone"></i>Audio Quiz</div>
    <div routerLink="/trainings" routerLinkActive="active"><i class="fas fa-chalkboard-teacher"></i>Trainings</div>
    <div routerLink="/users" routerLinkActive="active"><i class="fas fa-users"></i>Users</div>
    <div routerLink="/settings" routerLinkActive="active"><i class="fas fa-cog"></i>Settings</div>
  </div>
</div>
