<div class="main">
  <div class="left">
    <label class="uploadAFile">
      <span>Upload a file</span>
      <input
        type="file"
        [accept]="
          data.mediaType === 'image' ? 'image/*' :
          data.mediaType === 'video' ? 'video/mp4' :
          data.mediaType === 'audio' ? 'audio/*' : ''"
        (change)="selectFile($event)">
    </label>

    <div class="nav">
      <div (click)="setCurrentView('image')" [ngClass]="{'active': currentView === 'image'}" *ngIf="data.mediaType === 'image'">Images</div>
      <div (click)="setCurrentView('video')" [ngClass]="{'active': currentView === 'video'}" *ngIf="data.mediaType === 'video'">Videos</div>
      <div (click)="setCurrentView('audio')" [ngClass]="{'active': currentView === 'audio'}" *ngIf="data.mediaType === 'audio'">Audios</div>
    </div>
  </div>

  <div class="middle">
    <ng-container *ngIf="currentView === 'image'">
      <h1>Images</h1>
      <div>
        <img
          *ngFor="let image of allImages"
          [src]="baseURL.slice(0, -1) + image.file"
          (click)="selectMedia(baseURL.slice(0, -1) + image.file, 'image', image.name)"
          [alt]="image.name"/>
      </div>
    </ng-container>

    <ng-container *ngIf="currentView === 'video'">
      <h1>Videos</h1>
      <div>
        <video
          class="video"
          controls
          *ngFor="let video of allVideo; let i = index"
          [id]="video + i"
          [src]="baseURL.slice(0, -1) + video.file"
          (click)="selectMedia(baseURL.slice(0, -1) + video.file, 'video', video.name, video + i)"
        ></video>
      </div>
    </ng-container>

    <ng-container *ngIf="currentView === 'audio'">
      <h1>Audio</h1>
      <div>
        <mat-card
          *ngFor="let audio of allAudio"
          (click)="selectedMedia = baseURL.slice(0, -1) + audio.file; selectedMediaType = 'audio'; selectedMediaName = audio.name"
        >
          <audio
            controls
            [src]="baseURL.slice(0, -1) + audio.file"
            (play)="selectedMedia = baseURL.slice(0, -1) + audio.file; selectedMediaType = 'audio'; selectedMediaName = audio.name"
          ></audio>
          <mat-card-content style="text-align: center">
            {{audio.name}}
          </mat-card-content>
        </mat-card>

      </div>
    </ng-container>
  </div>

  <div class="right ">
    <div>
      <div
        style="width: 100%"
        *ngIf="selectedMediaType === 'image'">
        <img
          style="width: 100%"
          [src]="selectedMedia"
          [alt]=""
        />
        <div>
          <span>File name: {{selectedMediaName}}</span>
        </div>
      </div>
      <div
        style="width: 100%"
        *ngIf="selectedMediaType === 'audio' && selectedMediaDuration">
        <audio
          controls
          style="width: 190px"
          [src]="selectedMedia"
        ></audio>
        <div>
          <span>File name: {{selectedMediaName}}</span>
        </div>
      </div>

      <div
        style="width: 100%"
        *ngIf="selectedMediaType === 'video' && selectedMediaDuration">
        <video
          style="width: 100%"
          controls
          [src]="selectedMedia"
        ></video>
        <div>
          <span>File name: {{selectedMediaName}}</span>
        </div>
      </div>

    </div>

    <div class="buttonDiv">
      <button class="select" [disabled]="!selectedMedia" (click)="selectFileAndCloseModal()">Select</button>
      <button class="cancel" (click)="hideFileManager()">Cancel</button>
    </div>
  </div>
</div>
