<div class="main">
  <div class="left">
    <label class="uploadAFile">
      <span>Upload a file</span>
      <input type="file" accept="image/*, video/mp4, audio/*" (change)="selectFile($event)">
    </label>

    <div class="nav">
      <div (click)="setCurrentView('image')" [ngClass]="{'active': currentView === 'image'}">Images</div>
      <div (click)="setCurrentView('video')" [ngClass]="{'active': currentView === 'video'}">Videos</div>
      <div (click)="setCurrentView('audio')" [ngClass]="{'active': currentView === 'audio'}">Audios</div>
    </div>
  </div>

  <div class="middle">
    <ng-container *ngIf="currentView === 'image'">
      <h1>Images</h1>
      <div>
        <img
          *ngFor="let image of allImages"
          [src]="baseURL.slice(0, -1) + image.file"
          (click)="selectedFile = baseURL.slice(0, -1) + image.file"
          [alt]="image.name"/>
      </div>
    </ng-container>

    <ng-container *ngIf="currentView === 'video'">
      <h1>Videos</h1>
      <div>
        <video
          class="video"
          controls
          *ngFor="let video of allVideo"
          [src]="baseURL.slice(0, -1) + video.file"
          (click)="selectedFile = baseURL.slice(0, -1) + video.file"
        ></video>
      </div>
    </ng-container>

    <ng-container *ngIf="currentView === 'audio'">
      <h1>Audio</h1>
      <div>
        <audio
          controls
          *ngFor="let audio of allAudio"
          [src]="baseURL.slice(0, -1) + audio.file"
          (click)="selectedFile = baseURL.slice(0, -1) + audio.file"
        ></audio>
      </div>
    </ng-container>
  </div>

  <div class="right ">
    <img [src]="'https://unique-accent-api.herokuapp.com'" [alt]=""/>
    <div class="buttonDiv">
      <button class="select">Select</button>
      <button class="cancel" (click)="hideFileManager()">Cancel</button>
    </div>
  </div>
</div>
