<div class="main">
  <div class="left">
    <label class="uploadAFile">
      <span>Upload a file</span>
      <input type="file">
    </label>

    <div class="nav">
      <div (click)="setCurrentView('image')" [ngClass]="{'active': currentView === 'image'}">Images</div>
      <div (click)="setCurrentView('video')" [ngClass]="{'active': currentView === 'video'}">Videos</div>
      <div (click)="setCurrentView('audio')" [ngClass]="{'active': currentView === 'audio'}">Audios</div>
    </div>
  </div>

  <div class="middle">
    <ng-container *ngIf="currentView === 'image'">
      <h1>Images</h1>
      <div>
        <img
          *ngFor="let image of allImages"
          [src]="'https://unique-accent-api.herokuapp.com' + image.file"
          (click)="selectedFile = 'https://unique-accent-api.herokuapp.com' + image.file"
          [alt]="image.name"/>
      </div>
    </ng-container>

    <ng-container *ngIf="currentView === 'video'">
      <h1>Videos</h1>
      <div>
        <img src="../../../../assets/pexels-photo-2906458.jpg" alt=""/>
        <img src="../../../../assets/pexels-photo-3049263.jpg" alt=""/>
      </div>
    </ng-container>

    <ng-container *ngIf="currentView === 'audio'">
      <h1>Audio</h1>
      <div>
        <img src="../../../../assets/pexels-photo-2906458.jpg" alt=""/>
        <img src="../../../../assets/pexels-photo-3049263.jpg" alt=""/>
        <img src="../../../../assets/pexels-photo-2765107.jpg" alt=""/>
        <img src="../../../../assets/pexels-photo-5043917.jpg" alt=""/>
        <img src="../../../../assets/pexels-photo-2371535.jpg" alt=""/>
        <img src="../../../../assets/pexels-photo-7571030.jpg" alt=""/>
      </div>
    </ng-container>
  </div>

  <div class="right ">
    <img [src]="'https://unique-accent-api.herokuapp.com'" [alt]=""/>
    <div class="buttonDiv">
      <button class="select">Select</button>
      <button class="cancel" (click)="hideFileManager()">Cancel</button>
    </div>
  </div>
</div>
