<div class="main">
    <div class="box">
        <div class="bar user">
          <a routerLink="quiz-details">Users</a>
        </div>
        <div class="bar staff">
          <a routerLink="quiz-details">Staffs</a>
        </div>
    </div>
  <div class="row1">
    <div class="name">
      <h1>Samson Dike </h1>
      <p>Date Registered: Jan 9, 2021 Last Login: Jan 9, 2021 10:00 AM</p>
    </div>
    <button>Disable User</button>
  </div>
  <div class="row2">
    <h2>Courses</h2>
    <div class="boxes">
                <div class="b box1">
                           <img src="../../../../assets/course3 (1).jpeg" height="200" width="200"/>
                          <div class="text">
                            <h1>Public Speaking Guide</h1>
                            <p>Over the years, i have addressed thousands of audiences from different walks of life, and one thing i have realised is that....</p>
                            <div class="nta">
                              <div class="number">12</div>
                              <div class="time">15hrs 30mins</div>
                              <div class="amount">10,000</div>
                            </div>
                        </div>
                </div>
                <div class="b box2">
                           <img src="../../../../assets/course3 (1).jpeg" height="200" width="200"/>
                          <div class="text">
                            <h1>Public Speaking Guide</h1>
                            <p>Over the years, i have addressed thousands of audiences from different walks of life, and one thing i have realised is that....</p>
                            <div class="nta">
                              <div class="number">12</div>
                              <div class="time">15hrs 30mins</div>
                              <div class="amount">10,000</div>
                            </div>
                        </div>
                 </div>
                <div class="b box3">
                    <img src="../../../../assets/course3 (1).jpeg" height="200" width="200"/>
                      <div class="text">
                        <h1>Public Speaking Guide</h1>
                        <p>Over the years, i have addressed thousands of audiences from different walks of life, and one thing i have realised is that....</p>
                        <div class="nta">
                          <div class="number">12</div>
                          <div class="time">15hrs 30mins</div>
                          <div class="amount">10,000</div>
                        </div>
                      </div>
                </div>
                <div class="b box4">
                       <img src="../../../../assets/course3 (1).jpeg" height="200" width="200"/>
                      <div class="text">
                        <h1>Public Speaking Guide</h1>
                        <p>Over the years, i have addressed thousands of audiences from different walks of life, and one thing i have realised is that....</p>
                        <div class="nta">
                          <div class="number">12</div>
                          <div class="time">15hrs 30mins</div>
                          <div class="amount">10,000</div>
                        </div>
                      </div>
                 </div>
          </div>
    </div>
   <div class="row2">
    <h2>Training</h2>
    <div class="boxes">
                <div class="b box1">
                           <img src="../../../../assets/course3 (1).jpeg" height="200" width="200"/>
                          <div class="text">
                            <h1>Public Speaking Guide</h1>
                            <p>Over the years, i have addressed thousands of audiences from different walks of life, and one thing i have realised is that....</p>
                            <div class="nta">
                              <div class="number">12</div>
                              <div class="time">15hrs 30mins</div>
                              <div class="amount">10,000</div>
                            </div>
                        </div>
                </div>
                <div class="b box2">
                           <img src="../../../../assets/course3 (1).jpeg" height="200" width="200"/>
                          <div class="text">
                            <h1>Public Speaking Guide</h1>
                            <p>Over the years, i have addressed thousands of audiences from different walks of life, and one thing i have realised is that....</p>
                            <div class="nta">
                              <div class="number">12</div>
                              <div class="time">15hrs 30mins</div>
                              <div class="amount">10,000</div>
                            </div>
                        </div>
                 </div>
                <div class="b box3">
                    <img src="../../../../assets/course3 (1).jpeg" height="200" width="200"/>
                      <div class="text">
                        <h1>Public Speaking Guide</h1>
                        <p>Over the years, i have addressed thousands of audiences from different walks of life, and one thing i have realised is that....</p>
                        <div class="nta">
                          <div class="number">12</div>
                          <div class="time">15hrs 30mins</div>
                          <div class="amount">10,000</div>
                        </div>
                      </div>
                </div>
                <div class="b box4">
                       <img src="../../../../assets/course3 (1).jpeg" height="200" width="200"/>
                      <div class="text">
                        <h1>Public Speaking Guide</h1>
                        <p>Over the years, i have addressed thousands of audiences from different walks of life, and one thing i have realised is that....</p>
                        <div class="nta">
                          <div class="number">12</div>
                          <div class="time">15hrs 30mins</div>
                          <div class="amount">10,000</div>
                        </div>
                      </div>
                 </div>
          </div>
    </div>
</div>

