<div class="createTrainingDiv">
  <div class="saveButton">
    <button routerLink="training-details">Save</button>
  </div>

  <div class="createTrainingRow1">
      <label>
        <span>Title</span>
        <input type="text"  placeholder="Enter a title">
      </label>
      <label>
        <span>Fee</span>
        <input type="text" placeholder="Enter a fee">
      </label>
    </div>

  <div class="createTrainingRow2">
    <div>
      <label>
        <span>Thumbnail</span>
        <input type="text" placeholder="Select an image">
      </label>
    </div>
    <div>
      <label>
        <span>Thriller</span>
        <input type="text" placeholder="Select a video">
      </label>
    </div>
  </div>

  <div class="createTrainingRow2">
    <div>
      <label>
        <span>Start Date</span>
        <input type="text" placeholder="Select a date">
      </label>
    </div>
    <div>
      <label>
        <span>End Date</span>
        <input type="text" placeholder="Select a date">
      </label>
    </div>
  </div>

  <div class="createTrainingRow2">
    <div>
      <label>
        <span>Start Time</span>
        <input type="text" placeholder="Select time">
      </label>
    </div>
    <div>
      <label>
        <span>End Time</span>
        <input type="text" placeholder="Select time">
      </label>
    </div>
  </div>

  <div class="createTrainingRow2">
    <div>
      <label>
        <span>Training Days</span>
        <input type="text" placeholder="Select training days">
      </label>
    </div>
    <div>
      <label>
        <span>Zoom Link</span>
        <input type="text" placeholder="Paste a zoom invitation link">
      </label>
    </div>
  </div>

  <div class="row3">
    <label>
      <span>Description</span>
      <input type="text">
    </label>
  </div>
</div>
