<main>
  <section id="leftDiv">
    <div class="head">
      <h1>Early Life School 1st Term Exam</h1>
    </div>

    <div class="body">
      <div class="desc">
        <p>
          Over the years, I have addressed thousands of audiences from different
          walks of life and one thing I have realized is that the fear of Public
          Speaking is only a thing of the mind and the result of negative or
          pessimistic thinking. People focus more Over the years, I have
          addressed thousands of audiences from different walks of life
        </p>
      </div>

      <figure>
        <audio
            controls
            src="/media/cc0-audio/t-rex-roar.mp3">
                Your browser does not support the
                <code>audio</code> element.
        </audio>
      </figure>

      <div>
        <input class="score" type="number" placeholder="Max Score is 15">
      </div>
      <div>
        <button class="save">Save</button>
      </div>
    </div>
  </section>

  <section id="rightDiv">
    <div class="SchLogo">Logo</div>
    <div>
      <img src="../../../../assets/EarlyLifeSecondarySchoolLogo.png" alt="" />
    </div>

    <div class="dateAndTime">
      <div>Start Date</div>
      <div>April 7 2021</div>
    </div>

    <div class="dateAndTime">
      <div>End Date</div>
      <div>April 7 2021</div>
    </div>

    <div class="dateAndTime">
      <div>Allocated Time</div>
      <div>60 Mins</div>
    </div>
  </section>
</main>
