<div class="quizDetailsDiv">
  <div class="leftDiv">
    <div>Early Life School 1st Term Exam</div>

    <div class="questionDiv">
      <div><img src="../../../../assets/questionLogo.png" alt=""></div>
      <div>No Question Found</div>
      <div class="addQuestionButton">
        <button routerLink="create-text-question">Add Question</button>
      </div>
    </div>
  </div>

  <div class="rightDiv">
    <div class="SchLogo">Logo</div>
    <div><img src="../../../../assets/EarlyLifeSecondarySchoolLogo.png" alt=""></div>

    <div class="dateAndTime">
      <div>Start Date</div>
      <div>April 7 2021</div>
    </div>

    <div class="dateAndTime">
      <div>End Date</div>
      <div>April 7 2021</div>
    </div>

    <div class="dateAndTime">
      <div>Allocated Time</div>
      <div>60 Mins</div>
    </div>

    <div class="buttonDiv">
      <div>
        <button>Edit</button>
      </div>
      <div>
        <button>Delete</button>
      </div>
    </div>
  </div>
</div>
