.container{
  display: flex;

  .middle{
    flex-basis:1000px;
  }

  .rightbar{
    background-color:#cfcfcf;
    width: 300px;
    height: auto;

   .nameoforg{
     h2{
      text-align: center;
        margin: 10px;
     }
   }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 200px;
      height: auto;
      margin-top: 20px;
    }

    .dateandtime{
      margin-bottom: 60px;
      margin-left: 50px;
      font-size: 1.5em;

      .start{
         margin-top: 20px;
      }
      .end{
        margin-top:25px;
      }
      .allocatedtime{
        margin-top:25px;
      }
    }
  }
  button{
    border-radius: 5px;
    margin-left: 12px;
    margin-top: 30px;
    margin-bottom: 5px;
    border: none;
    padding: 15px;
    width: 250px;
    background-color:#ff6600;
    font-weight: bold;
    font-size: 1em;
  }
  .buttons{
    margin-bottom: 10px;
    button{
      margin-left: 15px;
      width: 105px;
      background-color: #707070;
      font-size: 1.2em;
      padding: 10px;
    }
    span button{
      background-color: #9D0000;
      color: white;
      font-weight: lighter;

    }
  }

  .title{
    margin-top: 20px;
    margin-left: 30px;
  h1{
      font-size: 2.3em;
  }
  }

  .questions{
    .box{
      border: #707070 2px solid;
      margin-left:30px;
      overflow: hidden;
      width: 760px;
      height: auto;
      margin-top: 30px;
      margin-bottom: 40px;
      padding: 20px;
      background-color: white;
      border-radius: 7px;
      p{
         font-size: 1.3em;
      }

    }

  }
}



.quizDetailsDiv {
  display: grid;
  grid-template-columns: 80% 20%;

  .leftDiv {
    //width: calc(100% - 220px);

    > :first-child {
      font-size: 50px;
      color: #272727;
    }
    .questionDiv {
      display: grid;
      justify-content: center;
      padding: 30px;

      :nth-child(2) {
        font-size: 56px;
        color: #4D4D4D;
        margin: 10px 0;
      }
    }

    .addQuestionButton {
      button {
        width: 500px;
        background: #FF6600;
        border-radius: 10px;
        border: none;
        box-shadow: #000000;
        padding: 10px 20px;
        font-size: 32px;
        color: #000000;
      }
    }
  }

  //.rightDiv {
  //  background: #C9C9C9;
  //  padding: 20px;
  //  position: fixed;
  //  right: 0;
  //  bottom: 0;
  //  top: 80px;
  //  height: calc(100vh - 80px);
  //  width: 220px;
  //
  //  .SchLogo {
  //    font-size: 28px;
  //    margin-bottom: 10px;
  //  }
  //
  //  img {
  //    height: 200px;
  //    width: 100%;
  //  }
  //
  //  .dateAndTime {
  //    margin: 20px 0;
  //
  //    :first-child {
  //      font-size: 28px;
  //    }
  //  }
  //
  //  .buttonDiv {
  //    display: grid;
  //    grid-template-columns: 50% 50%;
  //    margin-top: 40px;
  //
  //    :first-child {
  //      button {
  //        background: #707070;
  //        color: #000000;
  //        padding: 10px 30px;
  //        border-radius: 10px;
  //        border: none;
  //      }
  //    }
  //
  //    :nth-child(2) {
  //      button {
  //        background: #9D0000;
  //        color: #FFD9D9;
  //        padding: 10px 20px;
  //        border-radius: 10px;
  //        border: none;
  //      }
  //    }
  //
  //  }
  //}
}
