<div class="createLessonDiv">
  <div class="nextButton">
    <button (click)="createLesson()">Save</button>
  </div>

 <ng-container [formGroup]="createLessonForm">
  <div class="createLessonRow1">
      <label>
        <span>Title</span>
        <input formControlName="title" type="text"  placeholder="Enter a title">
      </label>
    </div>

  <div class="createLessonRow2">
    <div>
      <label>
        <span>Thumbnail</span>
        <input (click)="showFileManager()" placeholder="Select an image">
      </label>
    </div>
    <div>
      <label>
        <span>Preview</span>
        <input (click)="showFileManager()" placeholder="Select a video">
      </label>
    </div>
  </div>

  <div class="row3">
    <label>
      <span>Description</span>
      <textarea formControlName="description"></textarea>
    </label>
  </div>
   </ng-container>
</div>
