<div class="createLessonDiv">
  <div class="nextButton">
    <button (click)="createLesson()" [disabled]="createLessonForm.invalid">Save</button>
  </div>

 <ng-container [formGroup]="createLessonForm">
  <div class="createLessonRow1">
      <label>
        <span>Title</span>
        <input formControlName="title" type="text"  placeholder="Enter a title">
      </label>
    </div>

  <div class="createCourseRow2">
    <div>
      <label>
        <span>Thumbnail</span>
        <button *ngIf="!selectedThumbnailFile" (click)="showFileManager('image')">Select an Image</button>
        <img *ngIf="selectedThumbnailFile" [src]="selectedThumbnailFile" alt="Selected Image">
      </label>
    </div>
    <div>
      <label>
        <span>Video</span>
        <button *ngIf="!selectedPreviewFile" (click)="showFileManager('video')">Select a video</button>
        <video *ngIf="selectedPreviewFile" [src]="selectedPreviewFile" controls></video>
      </label>
    </div>
  </div>

  <div class="row3">
    <label>
      <span>Description</span>
      <textarea formControlName="description"></textarea>
    </label>
  </div>
   </ng-container>
</div>
