<div class="courseDetailsDiv" *ngIf="courseDetails">
  <div class="LeftDiv">
    <div class="row1">
      <div>{{courseDetails.title}}</div>
      <div>Fee: ₦{{courseDetails.price}}</div>
    </div>

    <div class="row2">{{courseDetails.description}}</div>

    <div class="lessonTable">
      <div class="lessonText">
        <span>Lessons</span>
        <button [routerLink]="'/courses/create-lesson/' + courseDetails.slug">Add Lesson</button>
      </div>

      <div class="tableDiv">
        <table>
          <thead>
          <tr>
            <th>THUMBNAIL</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>DURATION</th>
            <th>ACTION</th>
          </tr>

          <tr *ngFor="let lesson of lessons">
            <td>
              <img [src]="lesson.thumbnail" alt="lesson thumbnail" style="width: 80px; height:80px">
            </td>
            <td>{{lesson.title}}</td>
            <td>{{lesson.description}}</td>
            <td>{{lesson.duration}}</td>
            <td>
              <button>View</button>
            </td>
          </tr>

          </thead>
        </table>
      </div>
    </div>
  </div>

  <div class="RightDiv">
    <div class="courseImg">Thumbnail</div>
    <div><img [src]="courseDetails.thumbnail" alt=""></div>

    <div class="courseImg">Preview</div>
    <div>
      <video [src]="courseDetails.video"></video>
    </div>

    <div class="buttonDiv">
      <div>
        <button routerLink="lesson-details">Edit</button>
      </div>
      <div>
        <button>Delete</button>
      </div>
    </div>
  </div>

  <div class="pagination">

  </div>
</div>
