<div class="courseDetailsDiv" *ngIf="courseDetails">
  <div class="LeftDiv">
    <div class="row1">
      <div>{{courseDetails.title}}</div>
      <div>Fee: ₦{{courseDetails.price}}</div>
    </div>

    <div class="row2">
        <span>{{courseDetails.description.substr(0, descriptionLength)}}</span>
        <ng-container *ngIf="courseDetails.description.length > 500">
          <span
          *ngIf="descriptionLength <= 500"
          style="cursor: pointer; font-weight: 900"
          (click)="descriptionLength = courseDetails.description.length">
          ... Read more <i class="fa fa-angle-down"></i>
        </span>
        </ng-container>
        <span
          *ngIf="descriptionLength > 500"
          style="cursor: pointer; font-weight: 900"
          (click)="descriptionLength = 500">
          Read less <i class="fa fa-angle-up"></i>
        </span>
    </div>

    <div class="lessonTable">
      <div class="lessonText">
        <span>Lessons</span>
        <button [routerLink]="'/courses/create-lesson/' + courseDetails.slug">Add Lesson</button>
      </div>

      <div class="tableDiv">
        <table>
          <thead>
          <tr>
            <th>THUMBNAIL</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>DURATION</th>
            <th>ACTION</th>
          </tr>

          <tr *ngFor="let lesson of lessons">
            <td>
              <img [src]="lesson.thumbnail" alt="lesson thumbnail" style="width: 80px; height:80px">
            </td>
            <td><div class="textAlign">{{lesson.title}}</div></td>
            <td><div class="textAlign">{{lesson.description.substr(0, 100).trim()}}{{lesson.description.length > 100 ? '...' : ''}}</div></td>
            <td>{{(lesson.duration / 60).toString().split('.')[0]}}mins {{lesson.duration - ((lesson.duration / 60).toString().split('.')[0] * 60)}}sec</td>
            <td>
              <button [routerLink]="'/courses/lesson-details/' + lesson.slug">View</button>
            </td>
          </tr>

          </thead>
        </table>
      </div>
    </div>
  </div>

  <div class="RightDiv">
    <div class="courseImg">Thumbnail</div>
    <div><img [src]="courseDetails.thumbnail" alt=""></div>

    <div class="courseImg">Preview</div>
    <div>
      <video [src]="courseDetails.video" controls></video>
    </div>

    <div class="buttonDiv">
      <div>
        <button [routerLink]="'/courses/edit/' + courseDetails.slug">Edit</button>
      </div>
      <div>
        <button style="background: #9D0000; color: white" (click)="changeCourseStatus(false)" [disabled]="courseDetails.invalid" *ngIf="isPublished === true">Unpublished</button>
        <button style="background: #076907" (click)="changeCourseStatus(true)" [disabled]="courseDetails.invalid" *ngIf="isPublished === false">Publish</button>
      </div>
    </div>

  <div class="pagination">

  </div>
</div>
</div>
