 <div class="main">
     <div class="box">
       <div class="bar left">
         <div class="uf">
          <a href="">Uplaod File</a>
         </div><br><br><br><br>
         <div class="iva">
             <a href="">Images</a><br><br><br>
             <a href="">Videos</a><br><br><br>
             <a href="">Audio</a>
         </div>
       </div>
       <div class="bar middle">   Images
        <div>
          <img src="../../../assets/pexels-photo-2906458.jpg" alt="" height="330" width="250"/>
          <img src="../../../assets/pexels-photo-3049263.jpg" alt="" height="310" width="270">
          <img src="../../../assets/pexels-photo-2765107.jpg" alt="" height="330" width="250"/><br>
          <img src="../../../assets/pexels-photo-5043917.jpg" alt="" height="330" width="250"/>
          <img src="../../../assets/pexels-photo-2371535.jpg" alt="" height="310" width="270"/>
          <img src="../../../assets/pexels-photo-7571030.jpg" alt="" height="330" width="250"/>
      </div>
       </div>
       <div class="bar right ">
           <img src="../../../assets/pexels-photo-5043917.jpg" height="200" width="150"/>
         <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          <div class="sel">
             <a href="">Select</a>
          </div><br><br>
           <div class="can">
             <a href="">Cancel</a>
           </div> <br><br>
       </div>
     </div>
  </div>
<!--file: "/media/image/undraw_No_data_re_kwbl.png"-->
<!--fileFormat: ".png"-->
<!--fileSizeInKB: "23.277"-->
<!--fileType: "image"-->
<!--id: 2-->
<!--name: "undraw_No_data_re_kwbl.png"-->
<!--uploadedOn: "2-->
