.main {
  background-color: #4D4D4D;
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;

  .box{
    display: flex;
    background-color: white;


    .bar{
      height: 750px;
      min-width: 200px;
      margin: auto;
      flex-wrap: wrap;



    }

    .left{
        background-color:lightgray;
        padding: 0px 0px 0px 20px;



      a:link, a:visited {
         text-decoration: none;
         color: black;
  }



      .uf{
        border: #ff6600 solid 3px;
        margin-right: 15px;
        margin-top: 20px;
        background-color: black;
        width: 150px;
        text-align: center;
        padding: 10px;
        border-radius: 10%;
         a:link, a:visited {
         text-decoration: none;
         color: white;
  }


      }


    }

    .middle{
        background-color:#4D4D4D;
        flex-grow: 12;
        font-weight: bold;
        font-size: 2em;



    img{
      padding: 10px 30px 10px 20px;
       margin-left: 30px;

    }


  }



    .right{
        background-color:lightgray;
        flex-shrink: 10px;
      img{
        margin: 10px 0px 0 17px;


      }
       .sel{
           background-color: #ff6600;
           color: white;
           width: 120px;
           height: 30px;
           text-align: center;
           padding-top: 10px;
           margin-left: 45px;
           border-radius: 10%;

         a:link, a:visited {
              text-decoration: none;
              color: black;
  }
       }

      .can{
           background-color: black;
           color: white;
           width: 120px;
           height: 30px;
           text-align: center;
           padding-top: 10px;
           margin-left: 45px;
           border-radius: 10%;

    a:link {
      text-decoration: none;
      color: white;
 }
      }



    }
  }
}
