<div class="main" [formGroup]="testimonialFormGroup">
    <div class="box">
    <div class="bar services">
      <a routerLink="/settings/settings-services">Services</a>
    </div>
    <div class="bar testimonials">
      <a routerLink="/settings/settings-testimonials">Testimonials</a>
    </div>
    <div class="bar homepage">
      <a routerLink="/settings/settings-homepage-slider">Homepage Slider</a>
    </div>
  </div>
    <div class="text-video">
      <div class="text">
        <label>
          <input type="radio"formControlName="radio" value="text">
          <span>Text Testimonial</span>
        </label>
      </div>

      <div class="video">
        <label>
          <input type="radio" formControlName="radio" value="video">
          <span>Video Testimonial</span>
        </label>
      </div>
    </div>
    <ng-container>
      <div class="name">
        <label>
          <span>Name</span>
          <input formControlName="name" type="text">
        </label>
      </div>


      <div class="settingsRow2">
        <div>
          <div *ngIf="testimonialFormGroup.controls.radio.value === 'text'" class="avatar">
            <span>Avatar</span>
           <button *ngIf="!selectedAvatarFile" (click)="showFileManager('image')">Select an Image</button>
            <img *ngIf="selectedAvatarFile" (click)="showFileManager('image')" [src]="selectedAvatarFile"
             alt="Selected Image" width="70px">
          </div>
           <div *ngIf="testimonialFormGroup.controls.radio.value === 'video'" class="avatar">
            <span>Avatar</span>
           <button *ngIf="!selectedAvatarFile" (click)="showFileManager('video')">Select a Video</button>
            <video *ngIf="selectedAvatarFile" (click)="showFileManager('video')" [src]="selectedAvatarFile"
             width="70px"></video>
          </div>
        </div>
        <div class="subtext">
          <label>
            <span>SubText</span>
            <input formControlName="subtext" type="text">
          </label>
        </div>
    </div>

      <div class="testimony">
        <label>
          <span>Testimony</span>
          <textarea formControlName="testimony"></textarea>
        </label>
      </div>
      <div class="saveButton">
        <button (click)="createTestimonial()">Save</button>
      </div>
    </ng-container>
</div>
