<div class="main">
    <div class="box">
        <div class="bar user">
          <a routerLink="quiz-details">Users</a>
        </div>
        <div class="bar staff">
          <a routerLink="quiz-details">Staffs</a>
        </div>
    </div>
    <div class="form">
          <div class="Name">
                  <label>
                    <span>Name</span>
                    <input formControlName="thumbnail" type="text">
                  </label>
          </div>
          <div class="email">
                  <label>
                    <span>Email</span>
                    <input formControlName="thumbnail" type="email">
                  </label>
          </div>
          <div class="password">
                  <label>
                    <span>New Password</span>
                    <input formControlName="thumbnail" type="password">
                  </label>
          </div>
    </div>
   <div class="staff-admin">
        <div class="stafff">
            <label>
              <input type="radio" >
              <span>Staff</span>
            </label>
        </div>

        <div class="admin">
          <label>
            <input type="radio">
            <span>Admin</span>
          </label>
        </div>
   </div>
   <button>Save</button>
</div>
