.mainDiv {
  display: grid;
  grid-template-columns: 20% 80%;

  .leftDiv {

  }

  .rightDiv {
    background: #F5F5F5;

    :first-child {
      //height: 70px;
    }

    .mainArea {
      box-sizing: border-box;
      padding: 20px;
      overflow-y: auto;
      margin: 30px 20px 0 0;
      width: 100%;
    }
  }
}
