.mainDiv {
  .leftDiv {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
  }

  .rightDiv {
    background: #F5F5F5;
    width: 80%;
    position: fixed;
    right: 0;
    top: 0;

    :first-child {
      //height: 70px;
    }

    .mainArea {
      box-sizing: border-box;
      padding: 20px;
      overflow-y: auto;
      margin: 0 20px 0 0;
      width: 100%;
      height: calc(100vh - 80px);
    }
  }
}
