.main {
   height: 650px;

  .box {
    height: 40px;
    width: 100%;
    margin: 10px 0px 5px 0px;
    display: flex;
    background-color:#E4E4E4;
    padding: 5px;
    cursor: pointer;
  }

  .bar {
    margin-left: 40px;
    flex-grow: 0.1;
  }

  .services {
    background-color:darkgray;
    font-size: 1.3em;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;

    a:link, a:visited {
      text-decoration: none;
      color: black;
    }
  }

  .testimonials {
    background-color: #ff6600;
    font-size: 1.3em;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;


    a:link, a:visited {
      text-decoration: none;
      color: black;
    }
  }

  .homepage {
    background-color: darkgray;
    font-size: 1.3em;
    padding: 10px;
    text-align: center;
    border-radius: 5px;


    a:link, a:visited {
      text-decoration: none;
      color: black;
    }
  }
  .body{
    display: flex;

    .rightbar{
      width: 700px;
      height: 600px;
      margin-right: 20px;
      background-color: #888888;
      padding: 10px;

      .editAndDelete{
        display: flex;
         margin-left: 400px;
        margin-top: 20px;
      }

       button{
        border: none;
        width: 100px;
        margin-left: 40px;
        color: white;
        background-color: black;
        font-size: 1.3em;
        text-align: center;
        padding: 4px;
        border-radius: 10px;
         cursor: pointer;
      }
      .intro{
        padding-top: 20px;
        height: 270px;
        margin-right: 70px;
        .name{
          width: 400px;
        }
        .avatar{
           margin-left: 150px;
        }
      }

    }
    .leftbar{
      width: 600px;
      height: 600px;
      margin-left: 80px;

      .new{
        margin-top: 30px;
        color: white;
        background-color: black;
        text-align: center;
        width: 300px;
        font-weight: bold;
        padding: 8px;
        border-radius: 10px;
        font-size: 1.3em;
         margin-left: 30px;
        cursor: pointer;

      }
      .list{
        margin-top: 20px;
        margin-left: 20px;
        cursor:pointer;
      div{
        padding: 15px;
        margin: 2px 0px 2px 2px;
        background-color: lightgray;
        text-align: center;
        font-weight: bold;
        width: 300px;
        font-size: 1.5em;

      }
        :hover{
          background-color: #888888;

        }
      }

    }

  }
}
