<div class="main">
      <div class="box">
    <div class="bar services">
      <a routerLink="/settings/settings-services">Services</a>
    </div>
    <div class="bar testimonials">
      <a routerLink="/settings/settings-testimonials">Testimonials</a>
    </div>
    <div class="bar homepage">
      <a routerLink="/settings/settings-homepage-slider">Homepage Slider</a>
    </div>
  </div>
  <div class="body">
    <div class="leftbar">
       <div routerLink="/settings/settings-testimonial"  class="new">
         New Testimonials
       </div>
      <div class="list">
        <div
          *ngFor="let testimonial of allTestimonials"
          (click)="showTestimonial(testimonial)"
        >{{testimonial.name}}</div>

      </div>
    </div>
        <div class="rightbar" *ngIf="selectedTestimonial">
           <div class="editAndDelete">
               <button (click)="editService(selectedTestimonial)">Edit</button>
               <button (click)="deleteTestimonial(selectedTestimonial)">Delete</button>
           </div>
          <div class="intro">
            <div class="name">
               <h1>{{selectedTestimonial.name}}</h1>
               <h5>{{selectedTestimonial.title}}</h5>
            </div>
            <div class= "avatar">
              {{selectedTestimonial.avatar}}
            </div>
          <div class="testimony">
            {{selectedTestimonial.testimony}}
          </div>
        </div>
  </div>
</div>
</div>
