<div class="main">
      <div class="box">
    <div class="bar services">
      <a routerLink="/settings/settings-services">Services</a>
    </div>
    <div class="bar testimonials">
      <a routerLink="/settings/settings-testimonials">Testimonials</a>
    </div>
    <div class="bar homepage">
      <a routerLink="/settings/settings-homepage-slider">Homepage Slider</a>
    </div>
  </div>
  <div class="body">
    <div class="leftbar">
       <div routerLink="/settings/settings-testimonial"  class="new">
         New Testimonials
       </div>
      <div class="list">
        <div>Adeola ABC</div>
        <div>Victor Anene</div>
        <div>Esther XYZ</div>
        <div class="highlighted">Olusegun Oke</div>
        <div>Dele Amaebite</div>
        <div>Mrs Yetunde Okafor</div>
        <div>Kayode Ajiboye</div>
        <div>Uchenna</div>
        <div>Linda</div>
      </div>
    </div>
        <div class="rightbar">
           <div class="edit">
               Edit
           </div>
          <div class="intro">

            <div class="name">
<!--              <h1>{{testimonials.name}}</h1>-->
               <h5>Subtext:Lead trainer MTV institute</h5>
            </div>
            <div class="picture">
              <img src="../../../../assets/testinonial1.jpg" height="200" width="200"/></div>
          </div>
          <div class="bio">
            SPEAKING IS DIFFERENT FROM COMMUNICATION, You can Speak without
            communicating and this is what many people do not understand. A lot of
            People think that speaking with good diction is about faking an accent or
            rolling your tongue, NO! It is never about rolling your tongueor faking an
            accent, It is about accurate and effective communication such that anyone
            from any part of the world can understand you clearly. This is what a lot of
            people do not know. As a Public speaker, A radio/TV presenter, A voice over
            artiste, Customer service representative

            SPEAKING IS DIFFERENT FROM COMMUNICATION, You can Speak without
            communicating and this is what many people do not understand. A lot of
            People think that speaking with good diction is about faking an accent or
            rolling your tongue, NO! It is never about rolling your tongueor faking an
            accent, It is about accurate and effective communication such that anyone
             from any part of the world can understand you clearly. This is what a lot of
            people do not know. As a Public speaker, A radio/TV presenter, A voice over
            artiste, Customer service representative
          </div>
        </div>
  </div>
</div>
