<div class="createQuizDiv">
  <div class="saveButton">
    <button (click)="createQuiz()">Next</button>
<!--    <button routerLink="audio-quiz/create-quiz/quiz-details/create-text-question">Next</button>-->
  </div>

  <ng-container [formGroup]="createQuizForm">
    <div class="createQuizRow1">
      <label>
        <span>Title</span>
        <input formControlName="title" type="text" placeholder="Enter a title">
      </label>

      <label>
        <span>Organisation</span>
        <input formControlName="organisation" type="text" placeholder="Enter an organisation">
      </label>

      <label>
        <span>Pass Code</span>
        <input formControlName="passCode" type="text" placeholder="Enter a passcode">
      </label>
    </div>

    <div class="createQuizRow2">
      <div>
        <label>
          <span>Organisational Logo</span>
          <input formControlName="organisationLogo" type="text" placeholder="Select an image">
        </label>
      </div>
      <div>
        <label>
          <span>Allocated Time in Mins</span>
          <input formControlName="duration" type="text" placeholder="60">
        </label>
      </div>
    </div>

    <div class="createQuizRow2">
      <div>
        <label>
          <span>Start Date</span>
          <input formControlName="startDate" type="datetime-local" placeholder="Select a date">
        </label>
      </div>
      <div>
        <label>
          <span>End Date</span>
          <input formControlName="endDate" type="datetime-local" placeholder="Select a date">
        </label>
      </div>
    </div>

    <div class="row3">
      <label>
        <span>Instruction</span>
        <input formControlName="instruction" type="text">
      </label>
    </div>
  </ng-container>

</div>
