<div class="createQuizDiv">
  <div class="saveButton">
    <button routerLink="quiz-details">Save</button>
  </div>

  <div class="createQuizRow1">
      <label>
        <span>Title</span>
        <input type="text">
      </label>
      <label>
        <span>Pass Code</span>
        <input type="text">
      </label>
    </div>

  <div class="createQuizRow2">
    <div>
      <label>
        <span>Organisational Logo</span>
        <input type="text" placeholder="Select an image">
      </label>
    </div>
    <div>
      <label>
        <span>Allocated Time in Mins</span>
        <input type="text" placeholder="60">
      </label>
    </div>
  </div>

  <div class="createQuizRow2">
    <div>
      <label>
        <span>Start Date</span>
        <input type="text" placeholder="Select a date">
      </label>
    </div>
    <div>
      <label>
        <span>End Date</span>
        <input type="text" placeholder="Select a date">
      </label>
    </div>
  </div>

  <div class="row3">
    <label>
      <span>Instruction</span>
      <input type="text">
    </label>
  </div>
</div>
