<div class="createCourseDiv">
  <div class="nextButton">
    <button (click)="createCourse()">Next</button>
  </div>

  <ng-container [formGroup]="createCourseForm">
    <div class="createCourseRow1">
      <label>
        <span>Title</span>
        <input formControlName="title" type="text"  placeholder="Enter a title">
      </label>
      <label>
        <span>Price</span>
        <input formControlName="price" type="text" placeholder="Enter price">
      </label>
    </div>

    <div class="createCourseRow2">
      <div>
        <label>
          <span>Thumbnail</span>
          <button (click)="showFileManager()">Select an Image</button>
<!--          <input formControlName="thumbnail" type="text" placeholder="Select an image">-->
        </label>
      </div>
      <div>
        <label>
          <span>Preview</span>
          <button>Select a video</button>
<!--          <input formControlName="video" type="text" placeholder="Select a video">-->
        </label>
      </div>
    </div>

    <div class="row3">
      <label>
        <span>Description</span>
        <textarea formControlName="description"></textarea>
      </label>
    </div>
  </ng-container>

</div>
