<div class="createCourseDiv">
  <div class="nextButton">
    <button (click)="createCourse()" [disabled]="createCourseForm.invalid" *ngIf="isEditing === false">Next</button>
    <button (click)="updateCourse()" [disabled]="createCourseForm.invalid" *ngIf="isEditing === true">Save</button>
  </div>

  <ng-container [formGroup]="createCourseForm">
    <div class="createCourseRow1">
      <label>
        <span>Title</span>
        <input formControlName="title" type="text"  placeholder="Enter a title">
      </label>
      <label>
        <span>Price</span>
        <input formControlName="price" type="text" placeholder="Enter price">
      </label>
    </div>

    <div class="createCourseRow2">
      <div>
        <label>
          <span>Thumbnail</span>
          <button *ngIf="!selectedThumbnailFile" (click)="showFileManager('image')">Select an Image</button>
          <img *ngIf="selectedThumbnailFile" (click)="showFileManager('image')" [src]="selectedThumbnailFile" alt="Selected Image">
        </label>
      </div>
      <div>
        <label>
          <span>Preview</span>
          <button *ngIf="!selectedPreviewFile" (click)="showFileManager('video')">Select a video</button>
          <video *ngIf="selectedPreviewFile" (click)="showFileManager('video')" [src]="selectedPreviewFile" controls></video>
        </label>
      </div>
    </div>

    <div class="row3">
      <label>
        <span>Description</span>
        <textarea formControlName="description"></textarea>
      </label>
    </div>
  </ng-container>

</div>
