.audioQuestionDiv {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 20px;

  :first-child {
    img {
      height: 200px;
    }
  }

  :nth-child(2) {
    font-size: 56px;
    color: #2C2C2C;
    margin: 10px 0;
  }

  :nth-child(3) {
    font-size: 35px;
    color: #2C2C2C;
  }

  :last-child {
    margin: 10px 0;

    button {
      font-size: 32px;
      color: #000000;
      background: #FF6600;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      box-shadow: #000000;
    }
  }

    .row1 {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    margin-top: 20px;

    label {
      span {
        display: block;
        margin-bottom: 5px;
        font-size: 25px;
      }

      input {
        padding: 10px 5px;
        border-radius: 8px;
        border: solid 1px #707070;
      }
    }
  }
}
