.audioQuestionDiv {
  display: grid;
  justify-content: center;
  text-align: center;
  padding: 20px;

  :first-child {
    img {
      height: 200px;
    }
  }

  :nth-child(2) {
    font-size: 56px;
    color: #2C2C2C;
    margin: 10px 0;
  }

  :nth-child(3) {
    font-size: 35px;
    color: #2C2C2C;
  }

  :last-child {
    margin: 10px 0;

    button {
      font-size: 32px;
      color: #000000;
      background: #FF6600;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      box-shadow: #000000;
    }
  }
}
