  <div class="main">
    <div class="sidetext">
      <P>Hi Maxwell,</P>
      <p>Welcome to Unique Accent <br>Admin Portal</p>
        <div class="notmax">
         <p>Not Maxwell?</p>
           <div class="diff">
         <a href="url">Sign in as different admin</a>
          </div>
      </div>
    </div>

    <div class="loginform">
      <img src="../../../../assets/UACLLogo.png" height="100" width="120"/>
      <form action="action_page.php" >
        <div class="container">
            <div class="one">
              <h2>Signing in as</h2>
              <h3>maxwel@yopmail.com</h3>
          <label for="psw"><b>Enter your password</b></label><br>
          <input type="password" placeholder="" name="psw" required><br><br><br>
            </div>
          <div class="submit">
         <a href="url">Sign in</a>
          </div>
          <h4>Swicth account</h4>
        </div>
        <h5>Developed with love by Softcode</h5>


     </form>
    </div>
