  <div class="main">
    <div class="sidetext">
      <P>Hi,</P>
      <p>Welcome to Unique Accent <br>Admin Portal</p>
    </div>
    <div class="loginform">
      <img src="../../../../assets/UACLLogo.png" height="100" width="120"/>
      <form [formGroup]="loginForm" (submit)="login()">
        <div class="container">
            <div class="one">
               <label for="email"><b>Email</b></label><br>
          <input formControlName="email" type="email" placeholder="" name="email" required> <br><br><br>

          <label for="psw"><b>Password</b></label><br>
          <input formControlName="password" type="password" placeholder="" name="psw" required><br><br><br>

            </div>
           <div class="two">
               <label>
             <input type="checkbox" /> Remember me
            </label><br><br><br>
           </div>

          <div class="submit">
         <button type="submit">Sign in</button>
          </div>
        </div>
        <h5>Developed with love by Softcode</h5>


     </form>
    </div>
