<div class="main">
  <div class="sideText">
    <div>Hi,</div>
    <div>Welcome to Unique Accent Staff Portal</div>
  </div>


  <div class="login">
    <img class="logo" src="../../../../assets/UACLLogo.png" alt="Unique Accent"/>
    <div class="intoText">Login to Staff Portal</div>

    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <label class="input">
        <span>Email Address</span>
        <input formControlName="email" type="email">
      </label>

      <label class="input">
        <span>Password</span>
        <input formControlName="password" type="password" autocomplete="">
      </label>

      <label class="rememberMe">
        <input type="checkbox" #remember (change)="remember.checked ? rememberMe = true : rememberMe = false">
        <span>Remember me</span>
      </label>

      <button class="signInButton">Login</button>
    </form>


  </div>
</div>
