<div class="main">
  <div class="box">
    <div class="bar services">
      <a routerLink="/settings/settings-services">Services</a>
    </div>
    <div class="bar testimonials">
      <a routerLink="/settings/settings-testimonials">Testimonials</a>
    </div>
    <div class="bar homepage">
      <a routerLink="/settings/settings-homepage-slider">Homepage Slider</a>
    </div>
  </div>
  <div class="body">
    <div class="leftbar">
      <div routerLink="/settings/create-service" class="new">
        New Services
      </div>
      <div class="list">
        <div
          *ngFor="let service of allServices"
          (click)="showService(service)"
        >{{service.title}}</div>
      </div>
    </div>
    <div *ngIf="selectedService" class="rightbar">
       <div class="editAndDelete">
               <button (click)="editService(selectedService)">Edit</button>
               <button (click)="deleteService(selectedService)">Delete</button>
           </div>
      <div class="intro">
        <div class="title">
          <h1>{{selectedService.title}}</h1>
          <h5>
            <span *ngIf=" selectedService.isFeatured === true">Featured</span>
            <span *ngIf="selectedService.isFeatured === false">Unfeatured</span>
          </h5>
        </div>
        <div class="picture">
          {{selectedService.thumbnail}}
        </div>
      </div>
      <div class="bio">
        {{selectedService.description}}
      </div>
    </div>
  </div>
</div>
