<div class="main">
    <div class="box">
    <div class="bar services">
      <a routerLink="/settings/settings-services">Services</a>
    </div>
    <div class="bar testimonials">
      <a routerLink="/settings/settings-testimonials">Testimonials</a>
    </div>
    <div class="bar homepage">
      <a routerLink="/settings/settings-homepage-slider">Homepage Slider</a>
    </div>
  </div>
  <div class="body">
              <div class="leftbar">
                 <div routerLink="/settings/create-service" class="new">
                   New Services
                 </div>
                <div class="list">
                  <div>Diction and Elocution</div>
                  <div>Diction and Elocution</div>
                  <div>Diction and Elocution</div>
                  <div>Teachers Training</div>
                  <div>Diction and Elocution</div>
                  <div>Diction and Elocution</div>
                  <div>Diction and Elocution</div>
                  <div>Diction and Elocution</div>
                  <div>Diction and Elocution</div>
                </div>
              </div>
        <div class="rightbar">
           <div class="edit">
               Edit
           </div>
                <div class="intro">
                  <div class="name">
                    <h1>Teachers Training</h1>
                     <h5>Featured:Yes</h5>
                  </div>
                  <div class="picture">
                    <img src="../../../../assets/publicSpeaking.jpg" height="200" width="200"/>
                  </div>
                </div>
          <div class="bio">
                      SPEAKING IS DIFFERENT FROM COMMUNICATION, You can Speak without
                      communicating and this is what many people do not understand. A lot of
                      People think that speaking with good diction is about faking an accent or
                      rolling your tongue, NO! It is never about rolling your tongue or faking an
                      accent, It is about accurate and effective communication such that anyone
                      from any part of the world can understand you clearly. This is what a lot of
                      people do not know. As a Public speaker, A radio/TV presenter, A voice over
                      artiste, Customer service representative

                      SPEAKING IS DIFFERENT FROM COMMUNICATION, You can Speak without
                      communicating and this is what many people do not understand. A lot of
                      People think that speaking with good diction is about faking an accent or
                      rolling your tongue, NO! It is never about rolling your tongueor faking an
                      accent, It is about accurate and effective communication such that anyone
                       from any part of the world can understand you clearly. This is what a lot of
                      people do not know. As a Public speaker, A radio/TV presenter, A voice over
                      artiste, Customer service representative
          </div>
  </div>

</div>
