<div class="lessonDetailsDiv">
  <div class="leftDiv">
    <div class="row1">{{lessonDetails.title}}</div>
    <div class="row2">
      {{lessonDetails.description}}
    </div>
    <div class="lessonTable">
      <div class="lessonText">Comments</div>

      <div class="tableDiv">
        <table>
          <thead>
          <tr>
            <th>TITLE</th>
            <th>PRICE</th>
            <th>PURCHASES</th>
            <th>LESSONS</th>
            <th>ACTION</th>
          </tr>

          <tr>
            <td>{{lessonDetails.title}}</td>
            <td>67,892</td>
            <td>10</td>
            <td>8</td>
            <td>
              <a href>View</a>
            </td>
          </tr>

          <tr>
            <td>Call In</td>
            <td>89,298</td>
            <td>50</td>
            <td>15</td>
            <td>
              <a href>View</a>
            </td>
          </tr>

          <tr>
            <td>Paid Search</td>
            <td>62,767</td>
            <td>25</td>
            <td>14</td>
            <td>
              <a href>View</a>
            </td>
          </tr>

          <tr>
            <td>Organic Search</td>
            <td>123,879</td>
            <td>30</td>
            <td>32</td>
            <td>
              <a href>View</a>
            </td>
          </tr>

          <tr>
            <td>Email</td>
            <td>92,179</td>
            <td>32</td>
            <td>32</td>
            <td>
              <a href>View</a>
            </td>
          </tr>

          <tr>
            <td>Referral</td>
            <td>15,875</td>
            <td>43</td>
            <td>12</td>
            <td>
              <a href>View</a>
            </td>
          </tr>

          <tr>
            <td>Proposal</td>
            <td>92,179</td>
            <td>65</td>
            <td>21</td>
            <td>
              <a href>View</a>
            </td>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>

  <div class="RightDiv">
    <div class="courseImg">Thumbnail</div>
    <div><img [src]="lessonDetails.thumbnail" alt=""></div>

    <div class="courseImg">Preview</div>
    <div><img [src]="lessonDetails.video" alt=""></div>

    <div class="buttonDiv">
      <div>
        <button routerLink="lesson-details">Edit</button>
      </div>
      <div>
        <button>Delete</button>
      </div>
    </div>
  </div>
</div>
