<div class="lessonDetailsDiv" *ngIf="lessonDetails">
  <div class="leftDiv">
    <div class="row1">{{lessonDetails.title}}</div>
    <div class="row2">
      {{lessonDetails.description}}
    </div>
    <div class="lessonTable">
      <div class="lessonText">Comments</div>

       <div class="comment-details">
      <ng-container *ngFor="let comment of allComment">
        <div class="comment">
          <div class="user">
            <div class="userName">{{comment.user.name}}</div>
            <div class="isAdmin" *ngIf="comment.user.isAdmin || comment.user.isStaff">Admin</div>
          </div>

          <div class="commentBox">
            <div class="commentText">{{comment.comment}}</div>
            <div class="comment-reply" *ngFor="let reply of comment.replies">
              <div class="user">
                <div class="userName">{{reply.user.name}}</div>
                <div class="isAdmin" *ngIf="reply.user.isAdmin || reply.user.isStaff">Admin</div>
              </div>
              <div>{{reply.comment}}</div>
            </div>
            <div class="reply-action">
              <input type="text" #reply>
              <button class="btn" (click)="replyComment(comment.id, reply.value)">Post</button>
            </div>
          </div>
        </div>

      </ng-container>

    </div>
    </div>
  </div>

  <div class="RightDiv">
    <div class="courseImg">Thumbnail</div>
    <div><img [src]="lessonDetails.thumbnail" alt=""></div>

    <div class="courseImg">Preview</div>
    <div><img [src]="lessonDetails.video" alt=""></div>

    <div class="buttonDiv">
      <div>
        <button routerLink="lesson-details">Edit</button>
      </div>
      <div>
        <button>Delete</button>
      </div>
    </div>
  </div>
</div>
