<div class="main">
   <div class="box">
        <div class="bar services">
          <a routerLink="quiz-details">Services</a>
        </div>
        <div class="bar testimonials">
          <a routerLink="quiz-details">Testimonials</a>
        </div>
        <div class="bar homepage">
          <a routerLink="quiz-details">Homepage Slider</a>
        </div>
  </div>

  <div class="text-video">
    <div class="text">

      <label>
        <input type="radio" >
        <span>Text Testimonial</span>
      </label>
    </div>

    <div class="video">
    <label>
      <input type="radio" checked>
      <span>Video Testimonial</span>
    </label><br>
    </div>

  </div>
  <ng-container>
    <div class="settingsRow1">
      <label>
        <span>Name</span>
        <input formControlName="title" type="text">
      </label>
    </div>


    <div class="settingsRow2">
        <div>
          <div class="avater">
            <span>Avatar</span>
            <button>Select an image</button>
          </div>
        </div>
        <div class="subtext">
          <label>
            <span>SubText</span>
            <input formControlName="thumbnail" type="text">
          </label>
        </div>
    </div>

      <div class="row3">
        <label>
          <span>Testimonials</span>
          <textarea formControlName="description"></textarea>
        </label>
      </div>
    <div class="saveButton">
        <button routerLink="quiz-details">Save</button>
    </div>


</ng-container>

