<div class="quizDiv">
  <div class="rightDiv">
    <button routerLink="create-quiz">New Quiz</button>
  </div>

  <div class="bottomDiv">
    <div class="quizText">
      <div>Most Recent Quiz</div>
      <label>
        <input type="search" placeholder="Search Quiz" #search (keyup)="searchAllQuiz(search.value)"
               (blur)="searchAllQuiz(search.value)" (change)="searchAllQuiz(search.value)">
        <i class="fa fa-search"></i>
      </label>
    </div>


    <div class="tableDiv">
      <table>
        <thead>
        <tr>
          <th>
            <div class="titleHead">TITLE</div>
          </th>
<!--          <th>PARTICIPANT</th>-->
          <th>PASS CODE</th>
          <th>QUESTION</th>
          <th>ACTION</th>
        </tr>

        <tr *ngFor="let quiz of allQuiz">
          <td>
            <div class="title">{{quiz.title}}</div>
          </td>
<!--          <td>{{quiz.participant}}</td>-->
          <td>{{quiz.passCode}}</td>
          <td>{{quiz.question}}</td>
          <td>
            <button [routerLink]="'/audio-quiz/quiz-details/' + quiz.slug">View</button>
          </td>
        </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="buttons">
    <button [disabled]="prev === null" (click)="navigate(prev)"><i class="fas fa-chevron-left"></i>Prev</button>
    <button [disabled]="next === null" (click)="navigate(next)">Next<i class="fas fa-chevron-right"></i></button>
  </div>
</div>
