<div class="main">
  <div class="box">
      <div class="bar user">
        <a routerLink="quiz-details">Users</a>
      </div>
      <div class="bar staff">
        <a routerLink="quiz-details">Staffs</a>
      </div>
  </div>

  <div class="bottomDiv">
    <button>New Staff</button>
    <div class="tableDiv">
      <table>
        <thead>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>DATE JOINED</th>
          <th>STATUS</th>
          <th>ACTION</th>
        </tr>

        <tr>
          <td>Direct</td>
          <td>67,892</td>
          <td>10</td>
          <td>8</td>
          <td>
             <a href>View</a>
          </td>
        </tr>

        <tr>
          <td>Call In</td>
          <td>89,298</td>
          <td>50</td>
          <td>15</td>
          <td>
            <a href>View</a>
          </td>
        </tr>

        <tr>
          <td>Paid Search</td>
          <td>62,767</td>
          <td>25</td>
          <td>14</td>
          <td>
             <a href>View</a>
          </td>
        </tr>

        <tr>
          <td>Organic Search</td>
          <td>123,879</td>
          <td>30</td>
          <td>32</td>
          <td>
             <a href>View</a>
          </td>
        </tr>

        <tr>
          <td>Email</td>
          <td>92,179</td>
          <td>32</td>
          <td>32</td>
          <td>
             <a href>View</a>
          </td>
        </tr>

        <tr>
          <td>Referral</td>
          <td>15,875</td>
          <td>43</td>
          <td>12</td>
          <td>
             <a href>View</a>
          </td>
        </tr>

        <tr>
          <td>Proposal</td>
          <td>92,179</td>
          <td>65</td>
          <td>21</td>
          <td>
             <a href>View</a>
          </td>
        </tr>
        </thead>
      </table>
    </div>
  </div>
</div>
