<div class="coursesDiv">
  <div class="rightDiv">
    <button routerLink="create-course">Add New</button>
  </div>

  <div class="coursesTable">
    <div class="coursesText">
      <div>Most Recent Courses</div>
      <label>
        <input type="search" placeholder="Search Courses" #search (keyup)="searchAllCourses(search.value)"
               (blur)="searchAllCourses(search.value)" (change)="searchAllCourses(search.value)">
        <i class="fa fa-search"></i>
      </label>
    </div>

    <div class="tableDiv">
      <table>
        <thead>
        <tr>
          <th>
            <div class="titleHead">TITLE</div>
          </th>
          <th>PRICE</th>
          <th>PURCHASES</th>
          <th>LESSONS</th>
          <th>STATUS</th>
          <th>ACTION</th>
        </tr>

        <tr *ngFor="let course of allCourses">
          <td>
            <div class="title">{{course.title}}</div>
          </td>
          <td>{{course.price  | currency:'₦'}}</td>
          <td>{{course.purchases}}</td>
          <td>{{course.lessons}}</td>
          <td>
            <span *ngIf="course.isPublished === true" style="color: green; font-weight: 900">Published</span>
            <span *ngIf="course.isPublished === false" style="color: red; font-weight: 900">Unpublished</span>
          </td>
          <td>
            <button [routerLink]="'/courses/course-details/' + course.slug">View</button>
          </td>
        </tr>

        </thead>
      </table>
    </div>
  </div>

  <div class="buttons">
    <button [disabled]="prev === null" (click)="navigate(prev)"><i class="fas fa-chevron-left"></i>Prev</button>
    <button [disabled]="next === null" (click)="navigate(next)">Next<i class="fas fa-chevron-right"></i></button>
  </div>
</div>
