<div class="coursesDiv">
  <div class="rightDiv">
    <button routerLink="create-course">Add New</button>
  </div>

  <div class="coursesTable">
    <div class="coursesText">Most Recent Courses</div>

    <div class="tableDiv">
      <table>
        <thead>
        <tr>
          <th><div class="titleHead">TITLE</div></th>
          <th>PRICE</th>
          <th>PURCHASES</th>
          <th>LESSONS</th>
          <th>ACTION</th>
        </tr>

        <tr *ngFor="let course of allCourses">
          <td><div class="title">{{course.title}}</div></td>
          <td>{{course.price  | currency:'₦'}}</td>
          <td>{{course.purchases}}</td>
          <td>{{course.lessons}}</td>
          <td>
             <button [routerLink]="'/courses/course-details/' + course.slug">View</button>
          </td>
        </tr>

        </thead>
      </table>
    </div>
  </div>

<!--  <div class="pagination">-->
<!-- <a href="#">1</a>-->
<!--  <a class="active" href="#">2</a>-->
<!--  </div>-->
</div>
