<div class="coursesDiv">
  <div class="rightDiv">
    <button routerLink="create-course">Add New</button>
  </div>

  <div class="coursesTable">
    <div class="coursesText">Most Recent Training</div>

    <div class="tableDiv">
      <table>
        <thead>
        <tr>
          <th>TITLE</th>
          <th>PRICE</th>
          <th>PASS CODE</th>
          <th>LESSONS</th>
          <th>ACTION</th>
        </tr>

        <tr *ngFor="let course of allCourses">
          <td>{{course.title}}</td>
          <td>{{course.price}}</td>
          <td>{{course.purchases}}</td>
          <td>{{course.lessons}}</td>
          <td>
             <a href>View</a>
          </td>
        </tr>

        </thead>
      </table>
    </div>
  </div>
</div>
