.coursesDiv {

  .rightDiv {
     text-align: end;

    button {
      background: #FF6600;
      color: black;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: bold;
      border: none;
      margin-bottom: 30px;
      cursor: pointer;
    }
  }

  .coursesTable {
    background: #FFFFFF;
    margin-top: 20px;
    border-radius: 15px;
    padding: 25px;

    .coursesText {
      font-weight: bold;
      font-size: 30px;
    }
  }

  .tableDiv {
    margin-top: 20px;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {

        th {
          background: #E4E4E4;
          color: black;
          width: 150px;
          text-align: center;
          border: none;
          padding: 10px;

          .titleHead {
            text-align: left;
          }
        }

        td {
          width: 150px;
          text-align: center;
          border: none;
          padding: 10px;
          cursor: pointer;

          .title {
            text-align: left;
          }

          button {
            cursor: pointer;
            background: #E4E4E4;
            color: black;
            border-radius: 5px;
            border: none;
            padding: 5px 10px;
            font-weight: bold;
          }
        }
      }
    }
  }

  //.pagination {
  //  color: black;
  //  float: left;
  //  padding: 8px 16px;
  //  text-decoration: none;
  //  transition: background-color .3s;
  //}
}
