.coursesDiv {

  .rightDiv {
     text-align: end;

    button {
      background: #FF6600;
      color: black;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 20px;
      font-weight: bold;
      border: none;
      margin-bottom: 30px;
      cursor: pointer;
    }
  }

  .coursesTable {
    background: #FFFFFF;
    margin-top: 20px;
    border-radius: 15px;
    padding: 25px;

    .coursesText {
      display: flex;
      justify-content: space-between;
      div {
        font-weight: bold;
        font-size: 30px;
      }

      label {
        box-shadow: 0 0 5px black;
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
        margin: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        @media (max-width: 700px) {
          display: none;
        }

        input {
          border: none;
        }
      }

    }
  }

  .tableDiv {
    margin-top: 20px;

    table {
      width: 100%;
      border-collapse: collapse;

      thead {

        th {
          background: #E4E4E4;
          color: black;
          width: 150px;
          text-align: center;
          border: none;
          padding: 10px;

          .titleHead {
            text-align: left;
          }
        }

        td {
          width: 150px;
          text-align: center;
          border: none;
          padding: 10px;
          cursor: pointer;

          .title {
            text-align: left;
          }

          button {
            cursor: pointer;
            background: #E4E4E4;
            color: black;
            border-radius: 5px;
            border: none;
            padding: 5px 10px;
            font-weight: bold;
          }
        }
      }
    }
  }

  .buttons{
    display: flex;
    justify-content: space-between;
    gap: 30px;

    button{
      padding: 5px 15px;
      margin:  30px 20px;
      background-color: #000000;
      font-weight: bold;
      font-size: 1.2em;
      border-radius: 10px;
      text-align: center;
      color: white;

      &:disabled {
        background: #353535;
        cursor: default;
        color: black;
      }

      i{
        margin: 3px;
      }
    }

  }
}
