.trainingDetailsDiv {
  display: grid;
  grid-template-columns: 80% 20%;

  .LeftDiv {
    width: calc(100% - 220px);

    .row1 {
      display: grid;
      grid-template-columns: 50% 50%;

      :first-child {
        font-size: 50px;
      }

      :nth-child(2) {
        font-size: 25px;
      }
    }

    .row2 {
      margin: 20px 0;
    }

    .row3 {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    .row4 {
      font-size: 24px;
      margin-top: 30px;
    }
  }

  .RightDiv {
    background: #C9C9C9;
    padding: 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 80px;
    height: calc(100vh - 80px);
    width: 220px;

    .SchLogo {
      font-size: 28px;
      margin-bottom: 10px;
    }

    img {
      height: 200px;
      width: 100%;
    }

    .dateAndTime {
      margin: 20px 0;

      :first-child {
        font-size: 28px;
      }
    }

    .buttonDiv {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 40px;

      :first-child {
        button {
          background: #707070;
          color: #000000;
          padding: 10px 30px;
          border-radius: 10px;
          border: none;
        }
      }

      :nth-child(2) {
        button {
          background: #9D0000;
          color: #FFD9D9;
          padding: 10px 20px;
          border-radius: 10px;
          border: none;
        }
      }

    }
  }
}
