<main>
  <section id="leftDiv">
    <div class="head">
      <h1>Early Life School 1st Term Exam</h1>
    </div>

    <div class="body">
      <div class="speaker">
        <svg width="175" height="175" viewBox="0 0 317 317" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d)">
          <circle cx="158.5" cy="158.5" r="138.5" fill="#C9C9C9"/>
          <path d="M76.5176 131.172V187.069H113.782L160.363 233.65V84.5914L113.782 131.172H76.5176ZM141.731 129.588V188.653L121.515 168.437H95.1499V149.804H121.515L141.731 129.588ZM202.286 159.121C202.286 142.631 192.783 128.47 178.995 121.576V196.571C192.783 189.771 202.286 175.61 202.286 159.121ZM178.995 77.418V96.6092C205.919 104.621 225.576 129.588 225.576 159.121C225.576 188.653 205.919 213.62 178.995 221.632V240.823C216.353 232.345 244.208 198.994 244.208 159.121C244.208 119.247 216.353 85.8957 178.995 77.418Z" fill="#2C2C2C"/>
          </g>
          <defs>
          <filter id="filter0_d" x="0" y="0" width="317" height="317" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
          <feOffset/>
          <feGaussianBlur stdDeviation="10"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
          </filter>
          </defs>
          </svg>
          
      </div>

      <div>
        <button class="score">Max Score is 15</button>
      </div>
      <div>
        <button class="save">Save</button>
      </div>
    </div>
  </section>

  <section id="rightDiv">
    <div class="SchLogo">Logo</div>
    <div>
      <img src="../../../../assets/EarlyLifeSecondarySchoolLogo.png" alt="" />
    </div>

    <div class="dateAndTime">
      <div>Start Date</div>
      <div>April 7 2021</div>
    </div>

    <div class="dateAndTime">
      <div>End Date</div>
      <div>April 7 2021</div>
    </div>

    <div class="dateAndTime">
      <div>Allocated Time</div>
      <div>60 Mins</div>
    </div>
  </section>
</main>
